:root {
    --app-color: #181818;
    --app-btn-border: 2px solid var(--app-color);
    --app-bg-color: rgb(250, 250, 250);

    --font-primary: "Inter", "Roboto", sans-serif;
    /* --font-secondary: "Outfit", "Roboto", sans-serif; */
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font-primary);
    /* Automatically optimizes the look of the variable fonts based on text size */
    font-optical-sizing: auto;
    /* Standard default weight (Regular) */
    font-weight: 400;
    font-style: normal;

    /* "Outfit" font only had wght=Weight-Axis-Variation like 100...900 */
    /* But for "Roboto" font which also has wdth=Width-Axis-Variation along with wght=Weight-Axis-Variation, 
        because it has condensed variations also.
        So, setting below settings: */
    /* font-variation-settings: "wdth" 100; */
    /* Below does the exact same thing, but is easier to read */
    font-stretch: normal;
    background-color: var(--app-bg-color);
}

@keyframes start-load-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--app-bg-color);
}

.root-container {
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

main {
    flex: 1;
    overflow: hidden;
    display: flex;
}

.main-container {
    flex: 1;
    min-width: 400px;
    overflow: auto;
    /* scrollbar-gutter: stable; */
    --lpad: 20px;
    --rpad: 20px;
    --tpad: 0;
    --bpad: 20px;
    padding: var(--tpad) var(--rpad) var(--bpad) var(--lpad);
    box-sizing: border-box;
    animation: start-load-opacity 0.1s both 0.1s ease-in;
}

.main-container .content {
    width: 100%;
    height: 100%;
    min-width: fit-content;
    min-height: fit-content;
}
/* Customizable by child companenys */
.main-container .content-sections {min-height: max-content;height: 100%;}

.page-head {
    justify-content: center;
    display: flex;
    width: 100%;
}

.page-head.btw {
    justify-content: space-between;
}

.page-head h1 {
    font-weight: 400;
}

.right-pane {
    width: 300px;
    max-width: 300px;
    min-width: 250px;
    height: 100%;
    background-color: var(--app-bg-color);
    flex: none;
    padding: 12px 12px 12px 10px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
}

.rp-box {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #bbb;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    --lpad: 14px;
    --rpad: 14px;
}

.right-pane .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px calc(var(--rpad) - 6px) 6px var(--lpad);
    flex: none;
}

.right-pane .head .txt {
    font-weight: 500;
    font-size: 18px;
    color: #8e8e8e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-pane .head .close-btn {
    font-weight: 600;
    font-size: 18px;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: none;
}

.right-pane .body {
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding: 12px calc(var(--rpad) - 4px) 22px var(--lpad);
    flex: 1;
    box-sizing: border-box;
}

.hamburger {
    width: 26px;
    margin-left: 20px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    cursor: pointer;
}
.hamburger .line {
    border-top: 3px solid var(--app-color);
}

aside {
    flex: none;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    padding-right: 10px;
    padding-top: 24px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    background-color: #fff;
    width: 220px;
    animation: start-load-opacity 0.1s both 0.1s ease-in;
}

aside.show {
    width: 220px;
    animation: sidebar_open_anim 0.2s ease-in-out forwards;
}

aside.hide {
    width: 66px;
    animation: sidebar_close_anim 0.2s ease-in-out forwards;
    padding-right:0;
    scrollbar-gutter: unset;
}

@keyframes sidebar_close_anim {
    0% {
        width:86px;
    }
    100% {
        width:66px;
    }
}
@keyframes sidebar_open_anim {
    0% {
        width:200px;
    }
    100% {
        width:220px;
    }
}

aside.hide::-webkit-scrollbar {
    display:none;
}

a.brand-logo {
    text-decoration: none;
    display: block;
}

aside a.brand-logo {
    margin: 32px 0 32px 20px;
    width: 148px;
    height: 76px;
}

aside.hide a.brand-logo {
    margin-left: auto;
    margin-right: auto;
    width: 46px;
}

a.brand-logo img {
    width: 100%;
}

aside.show a.brand-logo img {
    animation: start-load-opacity 0.1s both ease-in;
}

aside.hide a.brand-logo img {
    animation: start-load-opacity 0.1s both ease-in;
}

.center-logo a.brand-logo {
    margin: 40px auto 0px;
    width: 300px;
    display: block;
}

aside nav {
    display: flex;
    flex-direction: column;
    /* margin-top: 40px; */
}

aside nav a {
    padding: 14px 20px;
    border-bottom: 1px solid #ddd;
    text-decoration: None;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

aside nav a:first-of-type {
    padding: 14px 20px;
    border-top: 1px solid #ddd;
}

aside nav a:hover {
    color: #999;
}

aside nav a.active {
    font-weight: 600;
    color: #ffffff;
    background-color: var(--app-color);
}

.error, .f-error {
    color: rgb(233 0 0);
}

.submit-section {
    padding: 10px 0 22px 0;
    background-color: #fff;
    margin-top: 20px;
}

.submit-section.stick-bottom {
    position: sticky;
    bottom: 0;
    border-top: 1px solid #ddd;
}

.msg-container {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.msg-container .text {
    font-variant-emoji: text;
    color: transparent;
    background-color: #222;
    background-clip: text;
    white-space: wrap;
    overflow-wrap: anywhere;
    margin: auto 0;
    width: 100%;
}

.msg-container .text > div {
    margin-bottom: 3px;
}

.msg-container.align_c .text {
    text-align: center;
}

.msg-container.success .text {
    background-color: rgb(24 110 24);
}

.msg-container.error .text {
    background-color: rgb(233 0 0);
    font-size: 15px;
}

.msg-container.info .text {
    background-color: rgb(64, 79, 123);
}

.msg-container.box {
    background-color: #aaaaaa;
    border: 1px solid #222;
    border-radius: 5px;
}

.msg-container.box .text {
    padding: 3px 9px;
}

.msg-container.box.success {
    background-color: rgb(185 255 185);
    border: 1px solid rgb(24 110 24);
}

.msg-container.box.error {
    background-color: rgb(255, 183, 183);
    border: 1px solid rgb(175 38 38);
}

.msg-container.box.info {
    background-color: rgb(177, 196, 255);
    border: 1px solid rgb(64, 79, 123);
}

.msg-container.box button {
    background-color: unset;
    border: none;
    padding: 0px 12px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 3px;
    position: sticky;
    top: 0;
}

.msg-container.box button:hover {
    opacity: 0.5;
}

.msg-container.box button:active {
    opacity: 1;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button-container.col {
    flex-direction: column;
}

.button-container .app-btn {
    padding: 10px 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Not Available - Hypen */
/* Field Not Available - Hypen */
.nahyp, .fnahyp {
    color: #aaa !important;
}
.fnahyp {
    margin-left: 6px;
}

/* -----------------------------------------------------------------------------------
SVG Settings
----------------------------------------------------------------------------------- */
/* Pro-Tip for Ultimate Cleanliness: Targets every element inside the SVG EXCEPT hidden definitions and groups
svg *:not(defs):not(g):not(linearGradient):not(mask) {}
use above or below - both are same */

svg path,
svg polygon,
svg polyline,
svg rect,
svg circle,
svg ellipse,
svg line {
    /* keeps an SVG outline (stroke) at a constant, fixed thickness even 
    when you resize, transform, or zoom in and out of the graphic. */
    vector-effect: non-scaling-stroke;

    /* This forces the browser to calculate the canvas scaling with maximum math precision. 
    It fixes the weird thin/faded subpixel line issue at 100% zoom 
    but still keeps diagonal lines and curved corners looking smooth and premium. */
    shape-rendering: geometricPrecision;

    /* completely turns off line-smoothing and forces lines to snap aggressively to whole pixels
    It is brilliant for straight vertical or horizontal shapes
    for sharp diagonal tips, it might make the edges look slightly jagged or pixelated.*/
    /* shape-rendering: crispEdges; */
}

svg *.only-fill {
    fill: var(--fg-color);
    stroke-width: 0;
}
svg *.only-stroke {
    fill: none;
    stroke: var(--fg-color);
}
/* ----------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
App Button Css
----------------------------------------------------------------------------------- */
.app-btn {
    transition: background-color 0.2s;
    user-select: none;
}

a.app-btn {
    text-decoration: none;
    text-align: center;
}

.app-btn.dark-invert,
.app-btn.dark {
    --bg-color: var(--app-color);
    --fg-color: #fff;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: var(--app-btn-border);
}

.app-btn.dark:hover {
    --bg-color: #3e3e3e;
    --fg-color: #fff;
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}

.app-btn.dark-invert.invert,
.app-btn.dark-invert:hover,
.app-btn.outline,
.app-btn.no-to-outline:hover {
    --bg-color: #fff;
    --fg-color: var(--app-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: var(--app-btn-border);
}

.app-btn.outline:hover {
    opacity: 0.7;
}

.app-btn.no-to-outline {
    --bg-color: #fff;
    --fg-color: var(--app-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: var(--app-btn-border);
    border-color: white;
}

.app-btn:active {
    transform: translate(-1px,1px);
}

.app-btn:active, .app-btn:focus {
    outline: grey solid 2px;
    outline-offset: 3px;
}

.app-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
    transform: none;
    outline: none;
    /* No Need */
    /* pointer-events: none; */
}
/* ----------------------------------------------------------------------------------- */


/* -----------------------------------------------------------------------------------
Scrollbar Style
----------------------------------------------------------------------------------- */
/* THE FIREFOX ONLY FIX */
/* This block executes ONLY if the browser lacks legacy webkit support */
@supports (scrollbar-width:thin) and (not selector(::-webkit-scrollbar)) {
    /* Supports Modern Standard (Firefox, Safari 18.4+, Chrome 121+) - But now used only for Firefox */
    * {
        scrollbar-width: thin;
    }
}
